 *{
    box-sizing: border-box;
 }
 .containar{
    max-width: 1280px;
    margin: auto;
 }
 
 nav{
    display: flex;
    justify-content: space-between;
 }

 .search-parent{
position: relative;
color: #BABABA;
 }
 .search-parent input{
    border-radius: 66px ;
    padding: 10px 30px;
    width: 500px;
    background-color:rgb(241, 241, 241) ;
    border: none;
}
 .search-parent i{
  position: absolute;
  top: 14px;
  right: 15px;
 }
 .nav-items{
    display: flex;
    list-style: none;
    gap: 10px;
 }
 .nav-items a{
    text-decoration: none;
    color: #707070;
    font-weight:600 ;
    font-size: 16px;

 }
 /* banner */
 .banner{
    background-color: #FEEAE9;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
 }
 .banner h2{
  color: rgb(31, 31, 31);
font-size: 56px;
font-weight: 700;
 }
 .banner p{
    color:#4E4E4E ;
 }
 .banner img{
    width: 402px;
    height: 378px;
 }